[submodule "lib/fcitx5/src/main/cpp/fcitx5"]
	path = lib/fcitx5/src/main/cpp/fcitx5
	url = git@github.com:fcitx/fcitx5.git
[submodule "app/src/main/cpp/fcitx5-chinese-addons"]
	path = app/src/main/cpp/fcitx5-chinese-addons
	url = git@github.com:fcitx/fcitx5-chinese-addons.git
[submodule "app/src/main/cpp/libime"]
	path = app/src/main/cpp/libime
	url = git@github.com:fcitx/libime.git
[submodule "lib/fcitx5/src/main/cpp/prebuilt"]
	path = lib/fcitx5/src/main/cpp/prebuilt
	url = git@github.com:fcitx5-android/prebuilt
[submodule "app/src/main/cpp/fcitx5-lua"]
	path = app/src/main/cpp/fcitx5-lua
	url = git@github.com:fcitx/fcitx5-lua.git
[submodule "app/src/main/cpp/fcitx5-unikey"]
	path = app/src/main/cpp/fcitx5-unikey
	url = git@github.com:fcitx/fcitx5-unikey.git
[submodule "plugin/anthy/src/main/cpp/anthy-cmake"]
	path = plugin/anthy/src/main/cpp/anthy-cmake
	url = git@github.com:fcitx5-android/anthy-cmake.git
[submodule "plugin/anthy/src/main/cpp/fcitx5-anthy"]
	path = plugin/anthy/src/main/cpp/fcitx5-anthy
	url = git@github.com:fcitx/fcitx5-anthy.git
