<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        ${mainApplicationId} can only be used inside plugin,
        because it's defined in AndroidPluginAppConventionPlugin
    -->
    <queries>
        <package android:name="org.fcitx.fcitx5.android" />
    </queries>

    <!-- permission required to request self-uninstall -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application>
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:theme="@style/DeviceSettingsTheme">
            <intent-filter>
                <action android:name="org.fcitx.fcitx5.android.plugin.MANIFEST" />
            </intent-filter>
        </activity>
    </application>
</manifest>