<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".FcitxApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FcitxAppTheme"
        tools:targetApi="31">
        <activity
            android:name=".ui.setup.SetupActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.main.LogActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.main.settings.theme.CustomThemeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.dict" />
                <data android:pathPattern=".*\\..*\\.dict" />
                <data android:pathPattern=".*\\..*\\..*\\.dict" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.dict" />
                <data android:pathPattern=".*\\.scel" />
                <data android:pathPattern=".*\\..*\\.scel" />
                <data android:pathPattern=".*\\..*\\..*\\.scel" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.scel" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\..*\\.txt" />
                <data android:pathPattern=".*\\..*\\..*\\.txt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.txt" />
            </intent-filter>
        </activity>

        <service android:name=".service.FcitxDaemon" />
        <service
            android:name=".input.FcitxInputMethodService"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/input_method" />
        </service>

        <provider
            android:name=".provider.FcitxDataProvider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>

</manifest>